.products-wrapper {
  margin: 20px;
}
.products-wrapper h1 {
  background-color: rosybrown;
  background-image: url(images/longlegs.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.products-wrapper .products-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products-wrapper .products-gallery .listing .product-image {
  background-image: url(images/longlegs.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  width: 100%;
}
.products-wrapper .products-gallery .listing p {
  text-align: left;
  color: #000;
  font-size: 12px;
}