.about-content {
  width: 100%;
  margin: 0 auto;
  .about-title {
    margin: -5px;
    // background-color: rosybrown;
  }
  .hero {
    background-image: url(https://in-info-web4.informatics.iupui.edu/~arihardw/nav-url/images/wallDude.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .intro-summary {
    margin: 20px;
    h2 {
      //
    }
    p {
    }
  }
  .about-main-content {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-color: seagreen;
    border-style: solid;
    border-width: thin;
    h4 {
      height: 100px;
      width: 100px;
      margin-right: 20px;
    }
    .left {
      // border-color: skyblue;
      // border-style: solid;
      // border-width: thin;
      display: flex;
      justify-content: center;
      align-items: center;
      // .image-left {
      // }
    }
    .right {
      // border-color: darkgrey;
      // border-style: solid;
      // border-width: thin;
      display: flex;
      justify-content: center;
      align-items: center;
      // .image-right {
      // }
    }
  }
}
.blank {
  height: 100px;
}
