.home-page-wrapper {
  width: 100%;
  .home-title {
    margin-bottom: -5px;
    margin-top: -5px;
  }
  .hero {
    background-image: url(https://in-info-web4.informatics.iupui.edu/~arihardw/nav-url/images/wormdudes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    width: 100%;
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
  }
  .home-page-content {
    text-align: center;
    p {
    }
    .home-page-images {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 20px;
      .home-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 180px;
        width: 180px;
        border-radius: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 100px;
      }
      .home-img-one {
        background-image: url(https://in-info-web4.informatics.iupui.edu/~arihardw/nav-url/images/longlegs.jpg);
      }
      .home-img-two {
        background-image: url(https://in-info-web4.informatics.iupui.edu/~arihardw/nav-url/images/pumpkin.gif);
      }
      .home-img-three {
        background-image: url(https://in-info-web4.informatics.iupui.edu/~arihardw/nav-url/images/batgif.gif);
      }
    }
  }
}
