$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-lg: 15px;
$border-radius-sm: 3px;
$border-radius-md: 5px;
$border-radius-lg: 10px;
$colors-surface: #fafafa;
$colors-surface-secondary: #f0f0f0;
$colors-black: #151515;
$colors-accent: rgb(110, 20, 100);
$colors-surface-light01: #fafafa;
$colors-surface-light02: #f4f4f4;
$colors-surface-light03: #d9d9d9;
$colors-surface-med01: #b1b1b1;
$colors-surface-med02: #757676;
$colors-surface-med03: #525252;
$colors-surface-dark: #19191f;